# SellingPartnerApiForOrders.VerificationStatus

## Enum


* `pending` (value: `"Pending"`)

* `approved` (value: `"Approved"`)

* `rejected` (value: `"Rejected"`)

* `expired` (value: `"Expired"`)

* `cancelled` (value: `"Cancelled"`)


